body {
  margin: 0px auto;
  width: auto;
}

#mainhead {
  font-size: 50px;
  margin-top: 10px;
  font-family: "Titillium Web", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding-left: 30px;
  margin-left: 0px;
  background-color: rgb(90, 86, 86);
  color: rgb(255, 255, 255);
}

#exText {
  font-family: "Titillium Web";
  width: 900px;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 23px;
}

#bmiCriteria {
  width: 800px;
  height: 600px;
  margin-left: 1050px;
  margin-top: -170px;
}

#inHead {
  margin-top: -220px;
  margin-left: 30px;
  font-size: 30px;
}

.small {
  width: 1050px;
  margin-left: 0px;
}

#weSpan {
  margin-left: 60px;
  font-size: 23px;
}
#heSpan {
  margin-left: 64px;
  font-size: 23px;
}
#weIn {
  font-size: 24px;
}
#weIn:hover {
  transition: border-radius, 0.3s;
  border-radius: 10px;
}
#heIn:hover {
  transition: border-radius, 0.3s;
  border-radius: 10px;
}

#weIn::placeholder {
  font-size: 15px;
  padding-left: 80px;
}
#heIn::placeholder {
  font-size: 15px;
  padding-left: 80px;
}
#heIn {
  font-size: 24px;
}

#calCon {
  margin-top: -400px;
  margin-left: 250px;
}
#calBtn {
  margin-top: 40px;
  margin-left: 200px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#calBtn:hover {
  transition: background-color, border-radius, 0.5s;
  background-color: rgb(148, 148, 216);
  border-radius: 10px;
}

#outHead {
  margin-left: 170px;
  font-size: 30px;
}
#outPut {
  text-decoration: underline;
}
#inHead {
  padding-left: 160px;
}

#darkmodeimg {
  width: 140px;
  margin-left: 370px;
  border-radius: 60px;
}

#darkmodeimg:hover{
  transition: border, background-color, 0.1s;
  border: 3px solid black;
  
}


.darkClass{
  
  border: 5px solid rgb(255, 255, 255);
}

#lightmodeimg{
  width: 140px;
  margin-left: 30px;
  border-radius: 60px;
}

#lightmodeimg:hover{
 
  transition: border, background-color, 0.1s;
  border: 3px solid black;
}

.lightClass{
  border:5px solid black;
}